<td>{{current_status_id}}</td>
<td>{{adults}}</td>
<td>{{children}}</td>
<td>{{children}}</td>
<td>{{children}}</td>
<td>{{children}}</td>
<td>{{children}}</td>
<td>{{children}}</td>
<td>{{children}}</td>
<td>{{children}}</td>
<td>{{children}}</td>
<td>{{children}}</td>